---
name: prek

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  prek:
    name: prek
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: github.event_name == 'push' || github.head_ref != 'feature/generate-github-profile-3d-contrib'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: prek
        uses: j178/prek-action@v1
        with:
          extra-args: --all-files
