---
name: GitHub Profile 3D Contrib

on:
  schedule:
    # 03:00 JST == 18:00 UTC
    - cron: "0 18 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    env:
      BRANCH_NAME: feature/generate-github-profile-3d-contrib
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Profile 3d contrib
        uses: yoshi389111/github-profile-3d-contrib@v0.9.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Generate GitHub App Token
        id: app_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GHA_APP_ID }}
          private-key: ${{ secrets.GHA_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7.0.9
        id: cpr
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: "${{ env.BRANCH_NAME }}"
          base: main
          title: "Update profile-3d-contrib"
          body: "Automated update of profile-3d-contrib files."

      - name: Pull Request Automerge
        if: steps.cpr.outputs.pull-request-number
        env:
          GH_TOKEN: ${{ steps.app_token.outputs.token }}
        run: |
          PR_NUMBER="${{ steps.cpr.outputs.pull-request-number }}"
          if [ -z "$PR_NUMBER" ]; then
            echo "No PR number found. Exiting."
            exit 1
          fi

          # NOTE: 先にマージしてから Approve すると auto merge によってマージされる
          gh pr merge -R "${{ github.repository }}" --squash --auto "$PR_NUMBER"
          gh pr review "$PR_NUMBER" --approve
